.body {
  width: 1920px;
  min-width: 300px;
}
.header {
  wigth: 100%;
  height: 84px;
}
.div {
  width: 100%;
  min-heigth: 700px;
  max-heigth: 1600px;
}
.div-ision {
  width: 50%;
  min-heigth: 700px;
  max-heigth: 1600px;
  float: left;
}
.h {
  
}
.p {
  
}
.link {
  
}
.foto {
  
}
