::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
}

.arriba {
    height: 69px;
    width: 100%;
    background-color: rgb(229, 229, 229);
    position: relative;
    float: left;
    position: fixed;
}

.arribaconf {
    height: 69px;
    width: 100%;
    float: left;
}

.abajo {
    height: 1000px;
    width: 100%;
    float: left;
}

.textin {
    font-size: medium;
    float: right;
    margin-top: 10px;
    padding: 15px 2% 1% 0%;
}

.texton {
    font-weight: bold;
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    src: url(../Fuentes/Montserrat-Light.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0.05em
}

.texton:hover {
    color: red;
}

.imgcont {
    float: left;
    position: relative;
}

.logo {
    height: 35px;
    width: auto;
    transform: translateY(45%);
    margin-left: 20px;
}


.tlf {
    background-color: #fafafa;
    color: #ec182b;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border-style: solid;
    border-color: #ec182b;
    font-family: 'Montserrat';
}

.tlf:hover {
    border-color: #ec182b;
    background-color: #ec182b;
    color: #fafafa;
}

